k*
accessibilityinspectorrc
akonadi*
/yay/*
/xsettingsd/
/Vencord/
/"Unknown Orginization"
/systemd/
/session/
/rofi/
/qt*
/Qt*
/pulse/
/neofetch/
/matplotlib/
/lxqt/
/kde*/
/KDE*/
/gtk*/
/go/
/gh/
/Electron/
/discord/
/dconf/
/clangd/
/btop/
/autostart/
/alacritty/themes/*
/Code/Cache*
/Code/logs/*
/Code/Crash*
/Code/Service*
/Code/User/Hist*
/Code/WebSt*
/libreoffic*
/libacc*
/Code/User/work*
/Code/User/glob*
/Code/Session*

*chrom*
plasma*
arkrc
baloofilerc
discoverrc
bluedevilglobalrc
dolphinrc
emaildefaults
emailidentities
filetypesrc
gtkrc
gtkrc-2.0
gwenviewrc
mimeapps.list
okularpartrc
okularrc
pavucontrol.ini
powerdevilrc
powermanagementprofilesrc
specialmailcollectionsrc
spectaclerc
systemmonitorrc
touchpadxlibinputrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
yakuakerc
