
*

!.zshrc
!dwm.sh
!.gitconfig
!.gitignore
!.config/
!.config/.oh-my-zsh
!.config/.oh-my-zsh/*
!.config/dwm
!.config/dwm/*
!.config/dwmblocks
!.config/dwmblocks/*
!.config/starship.toml
!.config/alacritty
!.config/alacritty/alacritty.toml
!.config/alacritty/themes/tokyo_night.toml
!.config/alacritty/themes/tokyo_night_enhanced.toml
!.config/nvim
!.config/nvim/*

